<script data-day-template type="text/x-handlebars-template">
        <label>\{{this.type}}</label> 
        <input class="input-date-icon click-target" type="text" name="\{{this.type}}" value="\{{this.day}}, \{{this.monthNumber}}/\{{this.dayofmonth}}/\{{this.year}}" disabled>
</script>